:root {
  --color-orange: hsl(31, 77%, 52%);
  --color-cyan: hsl(184, 100%, 22%);
  --color-dark-cyan: hsl(179, 100%, 13%);

  --color-transp-white: hsla(0, 0%, 100%, 0.75);
  --color-light-grey: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  background-color: var(--color-light-grey);
  color: var(--color-transp-white);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  display: grid;
  place-items: center;
}
.sedan {
  background-color: var(--color-orange);
}
.suv {
  background-color: var(--color-cyan);
}
.luxury {
  background-color: var(--color-dark-cyan);
}
