:root {
  --color-orange: hsl(31, 77%, 52%);
  --color-cyan: hsl(184, 100%, 22%);
  --color-dark-cyan: hsl(179, 100%, 13%);

  --color-transp-white: hsla(0, 0%, 100%, 0.75);
  --color-light-grey: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  background-color: var(--color-light-grey);
  color: var(--color-transp-white);
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  display: grid;
  place-items: center;
}

.categories-card {
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__category {
  padding: 3.5rem;
  display: grid;
  justify-items: left;

  gap: 2rem;
}
.card__category > .category__heading {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  color: var(--color-light-grey);
}
.button {
  background-color: var(--color-light-grey);
  display: inline;
  color: black;
  padding: 1em 2em;
  border-radius: 3em;
}
header,
footer {
  display: none;
}
.sedan {
  background-color: var(--color-orange);
}
.sedan::before {
  content: url(images/icon-sedans.svg);
}
.suv {
  background-color: var(--color-cyan);
}
.suv::before {
  content: url(images/icon-suvs.svg);
}
.luxury {
  background-color: var(--color-dark-cyan);
}
.luxury::before {
  content: url(images/icon-luxury.svg);
}
.sedan > .button {
  color: var(--color-orange);
}
.suv > .button {
  color: var(--color-cyan);
}
.luxury > .button {
  color: var(--color-dark-cyan);
}
